
# Ignore all files in the scratch and snippets foldres
**/.playground/*

# Ignore the AutoHotkey binaries; to be installed manually or via Mizu
**/ahkbin*/*

# Ignore custom directory icon
desktop.ini

# Ignore the Mizu Keys custom functions for release
# Only a generalized version should be included in the release
custom/_custom_functions.mzk
